@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


/* ----  config globais ---- */

.container {
    max-width: 1400px;
    margin: auto;
    padding: 20px;
}

.container2 {
    max-width: 1400px;
    margin: auto;
    padding: 50px;
}


/* Menu estilos */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-navigation {
    display: flex;
    list-style-type: none;
}


/* Menus  */

.nav-links a {
    display: flex;
    margin: 20px;
    text-decoration: none;
    color: #262626;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 20px;
    line-height: 1.4;
    font-weight: bold;
}

.img-btn {
    margin-left: 10px;
}


/* Btn menu */

.btn {
    background-color: #fff;
    border-radius: 10px;
    padding: 12px 70px;
    text-align: center;
    text-decoration: none;
}

a:hover,
a::after {
    color: #4557F6;
}


/* Home text */

.home {
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

.titulo-home {
    font-size: 3rem;
    /* alterei -8rem */
    line-height: 1.5;
    font-weight: bold;
}

.home span {
    color: #4557F6;
    font-weight: 500;
}


/* Btn Home */

.btn2 {
    margin: 30px auto;
    min-width: 200px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #4557F6;
    box-shadow: 0 5px #4433ff;
}

.btn2:hover {
    box-shadow: 0 3px #4433ff;
    top: 1px;
}

.btn2:active {
    box-shadow: 0 0 #4433ff;
    top: 5px;
}

.text-home {
    width: 70vh;
}

.text-home p {
    line-height: 1.8;
    letter-spacing: 2px;
    margin-top: 20px;
}

.text-home a {
    text-decoration: none;
}


/* Img Home */

.atriz-lisa {
    width: 380px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #262626;
}

.scroll-img {
    text-align: center;
    margin-bottom: 100px;
}


/* Cards Cursos */

.cursos {
    height: 100vh;
}

.cursos h2 {
    font-size: 2rem;
}

.btn5 {
    margin-top: 15px;
}


/*  container cursos cards items */

.curso {
    height: 100vh;
}

.cards-todos {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
    padding-bottom: 150px;
}

.cards {
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.img-section {
    height: 225px;
}


/* Texto card */

.cursos-text {
    font-size: 2rem;
    text-align: center;
    padding: 120px;
}

footer {
    width: 100%;
    background-color: #cfcaca;
    padding: 20px 0;
}

footer .desc {
    color: #262626;
    line-height: 1.8;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 20px 0;
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: space-between;
}

footer ul {
    display: flex;
    list-style: none;
}

footer .feather {
    margin-top: 15px;
    width: 30px;
    height: 30px;
    stroke: #1729cc;
    margin-right: 16px;
}


/* --------Cadastro ------  */

.titulo-cadastro {
    margin: 40px 0 0 30px;
}

.desc {
    display: flex;
    flex-direction: row;
    -webkit-box-align: baseline;
    align-items: baseline;
}

.caixa input {
    width: 100%;
}

.titulo2-cadastro {
    color: #1729cc;
    text-align: center;
}

.user-detalhes input {
    height: 48px;
    width: 96%;
    padding: 12px 16px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #cfcaca;
    background: rgb(255, 255, 255);
    outline: none;
    margin: 5px;
}

.btn-entrar {
    height: 48px;
    width: 96%;
    padding: 12px 16px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #cfcaca;
    background: #1729cc;
    outline: none;
    margin: 5px;
    color: #fff;
    cursor: pointer;
}

.btn-limpar {
    height: 48px;
    width: 96%;
    padding: 12px 16px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #fff;
    outline: none;
    margin: 5px;
    color: #161616;
    cursor: pointer;
    margin-bottom: 30px;
}

.btn-limpar:hover {
    background-color: #cfcaca;
}

.btn-entrar:hover {
    background-color: #4433ff;
}

.esqueci-senha {
    color: #161616;
    margin-left: 10px;
    font-size: 14px
}

.cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data-desc {
    font-size: 13px;
    margin-left: 8px;
}

.input-box .input-mensagem {
    height: 100px;
    font-weight: 400;
}


/*  Sobre */

.sobre-todos {
    display: flex;
    flex-direction: row;
}

.sobre-cards h1 {
    text-align: center;
    margin-bottom: 20px;
}

.sobre-cards {
    margin-top: 80px;
    text-align: center;
    letter-spacing: 1.2px;
    margin: 30px;
}

.sobre {
    max-width: 1200px;
    margin: 250px auto;
    margin-bottom: 200px;
}

.titulo-sobre {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
    padding: 20px 0;
}


/* Sobre */

.quem {
    padding: 10px 0;
}

.conteudo-sobre {
    padding: 80px;
    text-align: justify;
}